<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>
<body class="bg-gray-100">
<div class="container mx-auto mt-10 p-5 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-semibold mb-4">Edit Task</h1>
    <form action="/task/edit/{id}" method="post" th:object="${task}" th:action="@{'/task/edit/' + ${task.id}}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-4">
            <label for="name" class="block font-semibold mb-1">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" class="w-full p-2 border rounded" required>
        </div>

        <div class="mb-4">
            <label for="description" class="block font-semibold mb-1">Description:</label>
            <input type="text" id="description" name="description" th:field="*{description}" class="w-full p-2 border rounded" required>
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded font-semibold hover:bg-blue-600">Update Task</button>
    </form>
</div>
</body>
</html>
